.middle {
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 2em;
}

.header {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #DDD;
  background: white;
}

#parks-display {
  padding: 2em;
}

#parks-display article {
  margin-bottom: 4em;
}

@media screen and (min-width: 500px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  
  #parks-display {
    padding-top: 12em;
    padding-bottom: 3em;
  }
}
